{% load daszek_extra_tags %}

{% if lista_obwodow %}
	<h1>{{ gmina.nazwa }}</h1>
	<!--
	<ul>
	{% for obwod in lista_obwodow %}
		<li>{{ obwod.nazwa }}</li>
	{% endfor %}
	</ul>
	-->
	<form action="{% url 'wybory:zmiana' gmina.nazwa %}" method="post">
	<fieldset>
	{% csrf_token %}
	<table>
	<thead>
		<tr>
			<td>Nazwa</td>
			<td>Kart do glosowania</td>
			<td>Wyborcow</td>
		</tr>
	</thead>
	<tbody>
	{% for obwod in lista_obwodow %}
		<input type="hidden" name="id" value="{{ obwod.id }}">
		<input type="hidden" name="data_modyfikacji" value="{{ obwod.data_modyfikacji|daszek_modification_timestamp }}">
		<tr>
			<td>{{ obwod.nazwa }}</td>
			<td><input type="text" name="kart_do_glosowania" value="{{ obwod.kart_do_glosowania }}"></td>
			<td><input type="text" name="wyborcow" value="{{ obwod.wyborcow }}"></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	<input type="submit" value="Zapisz" />
	</fieldset>
	</form>

	<!-- <form action="{% url 'wybory:zmiana_ajax' gmina.nazwa %}" method="post" id="TEST-AJAX-DUPA"> -->
	<form name="AJAX_FORM" action="{% url 'wybory:zmiana_ajax' gmina.nazwa %}" method="post">
		{% csrf_token %}
		<input name="test" type="text" value="500">
		<input name="submit-button" type="submit" value="Zapisz" />
		<span name="STATUS" class="success"></span>
	</form>
<!--
	<button onclick="zmiana111()">ZMIANA 111</button>
	<button onclick="zmiana222()">ZMIANA 222</button>
-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}/static/main.js"></script>
{% else %}
	<p>Brak obwodow!</p>
{% endif %}
